* {
    color: white;
    background-color: darkblue;
    font-weight: bold;
    text-align: center;
}
nav a {
    color: green;
}

nav a:hover {
    color: orange;
}
body {
    background-image: url(groovy.png);
    background-repeat: none;
    font-size: 2.5em;
}
nav {
    background-color: cornflowerblue;
}

